@media (max-width: 940px) {

html {
  height: 105vh;
  
  max-width: 100vw;
  border: 8px solid blue;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(0, 0, 0);
  border: 8px solid red;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: din-2014, sans-serif;
  font-style: normal;
}

.app-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  border: 5px solid green;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 550px;
}

.swiper-container {
  position: absolute;
  top: auto;
  bottom: 0;
  max-width: 100%;
  height: 96px;
  padding: 0;
  background-color: rgb(0, 0, 0);
  /*border: 5px solid rgb(0, 255, 0);*/
  box-sizing: border-box;
  
}

.gradient {
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 105;
  width: 100%;
  height: 96px;
  background:linear-gradient(90deg, rgba(0,0,0,.75), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.75));
  border: 5px solid rgb(255, 0, 119);
  box-sizing: border-box;
  pointer-events: none;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: #01fdfe;
  width: 96px;
  height: 96px;
  line-height: 100px;
  text-align: center;
  color: black;
  clip-path: polygon(10% 0%,100% 0%,100% 100%,0% 100%,0% 10%);
  font-size: 1.5em;
}

.swiper-pagination {
  width: 100%;
  height: 70%;
  margin-top: 10%;
  position: absolute;
  text-align: inherit;
  background-color: rgb(0, 0, 0);
  /*border: 5px solid rgb(107, 0, 194);*/
  box-sizing: border-box;
}

.swiper-pagination-bullet {

  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background-color: black;
  border-radius: 0%;
  /*border: 5px solid rgb(183, 241, 255);*/
  box-sizing: border-box;
  
}

.swiper-pagination-bullet-active {
  /*border: 5px solid rgb(255, 232, 99);*/
  display: inline;
}


canvas {
  position: absolute;
  width: 90% !important;
  height: 90% !important;
  margin: 5%;
}

#shadow1, #shadow2, #shadow3, #shadow4, #shadow5 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-shadow:
0 -17px 43.9px -20px rgba(0, 255, 200, 0.13),
0 -14.5px 69.3px -20px rgba(0, 255, 200, 0.17),
0 -3.9px 67.7px -20px rgba(0, 255, 200, 0.21),
0 38px 56px -20px rgba(0, 255, 200, 0.29)
;
}

.value-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translate(0, 48px);
  /*border: 5px solid rgb(1, 129, 123);*/
  box-sizing: border-box;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: .1em;
  color: #01fdfe;
}

.percent-container {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 32px);
  padding-right: 16px;
  transform: translate(0, -46px);
  background-color: rgba(255, 0, 149, .25);
  box-sizing: border-box;
  text-align: right;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: .1em;
  color: #00FFDC;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 98% 100%, 0% 100%);
}

.logo {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  transform: translate(0, -46px);
  background-color: rgba(255, 0, 149, .9);
  clip-path: polygon(20% 0%,100% 0%,100% 100%,0% 100%,0% 20%);
}

p {
  position: relative;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  
}

#credits {
  position: absolute;
  width: 40%;
  height: 16px;
  padding-left: 8px;
  bottom: 0%;
  left: 40%;
  text-align: center;
  background-color: rgba(248, 254, 71, 1);
  clip-path: polygon(4% 0%,100% 0%,100% 100%,0% 100%,0% 24%);
  font-size: .7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  text-decoration: none;
}

}

@media (min-width: 940px) {

  html {
    height: calc(var(--vh, 1vh) * 100);
    width: calc(var(--vw, 1vw) * 100);
    position: fixed;
  }
  
  body {
    position: relative;
    background-color: rgb(0, 0, 0);
    border: 5px solid darkblue;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: din-2014, sans-serif;
    font-style: normal;
  }
  
  .app-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    /*border: 5px solid rgb(230, 1, 32);*/
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-width: 375px;
    height: 100%;
    max-height: 550px;
  }
  
  .swiper-container {
    z-index: 100;
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    bottom: auto;
    width: 96px;
    height: 80%;
    padding: 0;
    background-color: rgb(0, 0, 0);
    
  }

  .gradient {
    z-index: 101;
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    bottom: auto;
    width: 96px;
    height: 80%;
    padding: 0;
    background:linear-gradient(0deg, rgba(0,0,0,.75), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.75));
   /* border: 5px solid rgb(255, 0, 119);
    box-sizing: border-box;*/
    pointer-events: none;

  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: rgb(1, 253, 254);
    width: 96px;
    height: 96px;
    line-height: 100px;
    text-align: center;
    color: black;
    clip-path: polygon(10% 0%,100% 0%,100% 100%,0% 100%,0% 10%);
    font-size: 1.5em;
  }
  
  .swiper-pagination {
    width: 100%;
    height: 70%;
    position: absolute;
    text-align: inherit;
    background-color: rgb(0, 0, 0);
    /*border: 5px solid rgb(107, 0, 194);*/
    box-sizing: border-box;
  }
  
  .swiper-pagination-bullet {
  
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background-color: black;
  }
  
  .swiper-pagination-bullet-active {
    display: inline;
  }
  
  canvas {
    position: absolute;
    width: 90% !important;
    height: 90% !important;
    margin: 5%;
  }

  #shadow1, #shadow2, #shadow3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow:
    0 -17px 43.9px -20px rgba(0, 255, 200, 0.13),
    0 -14.5px 69.3px -20px rgba(0, 255, 200, 0.17),
    0 -3.9px 67.7px -20px rgba(0, 255, 200, 0.21),
    0 38px 56px -20px rgba(0, 255, 200, 0.29)
    ;
  }
  
  .value-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translate(0, 56px);
    /*border: 5px solid rgb(1, 129, 123);*/
    box-sizing: border-box;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: .1em;
    color: #00FFDC;
  }

  .percent-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    padding-right: 16px;
    transform: translate(0, -46px);
    background-color: rgba(255, 0, 149, .25);
    box-sizing: border-box;
    text-align: right;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: .1em;
    color: #00FFDC;
  }
  
  p {
    position: relative;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    
  }
  
  .value1 {
    position: relative;
    width: 100%;
    color: #00FFDC;
    font-size: 1.5em;
  }

  .percent1, .percent2 {
    position: relative;
    width: 100%;
    color: #00FFDC;
    font-size: 1.5em;
  }
  
  #credits {
    position: absolute;
    width: 100%;
    bottom: 0%;
    text-align: center;
    border: 5px solid rgb(248, 254, 71);
    box-sizing: border-box;
    font-size: .7em;
  }

}



